@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
:root {
    --color-titulo-principal: #010c24;
    --color-fondo: #01173f;
    --color-letra-borde: #00d6d6;
}
/* general */
body {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-wrap: break-word;
    align-items: center;
    background-color: var(--color-fondo);
    color: var(--color-letra-borde);
}
button,
select,
input {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin: 0px 5px;
    background-color: var(--color-fondo);
    color: var(--color-letra-borde);
    border: 1px solid var(--color-letra-borde);
    transition: all 0.5s;
    cursor: pointer;
}
button:hover,
select:hover,
input:hover {
    background-color: var(--color-letra-borde);
    color: var(--color-fondo);
}
div#cuadro_input {
    background-color: var(--color-fondo);
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--color-letra-borde);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* header */
header {
    background-color: var(--color-titulo-principal);
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    align-items: start;
}
header div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main h1 {
    font-size: 100px;
}
main section#contenedor_registros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
main section#contenedor_registros div.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border: 1px solid var(--color-letra-borde);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
main section#contenedor_registros div.registro h2 {
    background-color: var(--color-titulo-principal);
    border: 1px solid var(--color-letra-borde);
    padding: 5px;
    border-radius: 20px;
}
main section#contenedor_registros div.registro h3 {
    border: 1px solid var(--color-letra-borde);
    padding: 5px;
    border-radius: 20px;
}
@media (max-width: 550px) {
    div#cuadro_input {
        position: static !important;
        width: 57.5vw;
        align-self: center;
    }
}
@media (max-width: 520px) {
    main h1 {
        font-size: 19.2vw;
    }
    main section#contenedor_registros {
        flex-direction: column;
    }
    main section#contenedor_registros div.registro {
        width: 57.5vw;
    }
    main section#contenedor_registros div.registro > * {
        font-size: 3.6vw;
    }
}
@media (max-width: 280px) {
    button,
    select,
    input {
        font-size: 6.4vw;
    }
}